#base-container{
    .overlay-body {
        text-align: center;
        color: white;
        font-size: 20px;
    }
    video{
        width: 100px;
        position: absolute;
        top: 0px;
        right: 0px;
    }
}